{% extends "layout.html" %}

{% block content %}
<table id="all-table" class="table table-bordered table-condensed table-hover">
    <tr>
        <th>Име</th>
        <th></th>
    </tr>
    {% for firm in firms %}
    <tr id="{{ firm.id }}">
        <td>{{ firm.name }}</td>
        <td class="col-md-2">
            <a class="btn btn-info" style="float:left; margin-right: 10px;" href="{% url 'edit_firm' id=firm.id %}">Промени</a>
            <form class="delete-form" style="float:left" firm-id="{{ firm.id }}" action="{% url 'delete_firm' id=firm.id %}" method="delete">
                {% csrf_token %}
                <input class="btn btn-info" type="submit" name="delete" value="Изтрий" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-primary" href="{% url 'create_firm' %}">Създай</a>
<hr />
{% endblock %}
{% block scripts %}
    <script>
        var $forms = $('.delete-form');
        $forms.each(function () {
            var $this = $(this),
                $firmToDelete = $('#' + $this.attr('firm-id'));

            ajaxOvverideDelForm($this, $firmToDelete);
        });
    </script>
{% endblock%}