{% extends "layout.html" %}

{% block content %}
    <table class="table table-hover">
        <tr>
            <th>Заглавие</th>
            <th>Описание</th>
        </tr>
        {% for topic in topics %}
            <tr id="{{ topic.id }}">
                <td>{{ topic.title }}</td>
                <td>{{ topic.description }}</td>
                <td>
                    <a class="btn btn-info" style="float:left" href="{% url 'edit_topic' id=topic.id %}">Промени</a>
                    <form class="delete-form" style="float:left" action="{% url 'delete_topic' id=topic.id %}" method="delete">
                        {% csrf_token %}
                        <input class="btn btn-info" type="submit" name="delete" value="Изтрий" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <a class="btn btn-primary" href="{% url 'create_topic' %}">Създай</a>
{% endblock %}
{% block scripts %}
    <script>
        var $form = $('.delete-form');
        $form.each(function () {
            var $this = $(this),
                $topicToDelete = $('#' + $this.attr('topic-id'));

            ajaxOvverideDelForm($this, $topicToDelete);
        });
</script>
{% endblock%}