{% load staticfiles %}
<div id="table-replace">
    <table id="all-table" class="table table-bordered table-condensed table-hover">
        <tr>
            <th class="pointer-item">Име</th>
            <th class="pointer-item">Презиме</th>
            <th class="pointer-item">Фамилия</th>
            <th class="pointer-item">Имейл</th>
            <th class="pointer-item">Фирма</th>
            <th class="pointer-item">Рецензии</th>
            <th class="pointer-item">Сезон</th>
            <th class="ignore"></th>
        </tr>
        {% for object in objects %}
        <tr id="{{ object.id }}">
            <td>{{ object.teacher.first_name }}</td>
            <td>{{ object.teacher.middle_name }}</td>
            <td>{{ object.teacher.last_name }}</td>
            <td>{{ object.email }}</td>
            <td>{{ object.teacher.firm|default_if_none:'ТУЕС' }}</td>
            <td>
                {% if object.referals.all %}
                {% for referal in object.referals.all %}
                <a href="{% url 'edit_referal' id=referal.id %}">{{ referal.file.name }}</a> <br />
                {% endfor %}
                {% endif %}
            </td>
            <td>{{ object.season|default_if_none:'' }}</td>
            <td class="col-md-2">
                <a class="btn btn-info" style="float:left; margin-right: 10px;" href="{% url urls.edit id=object.id %}">Промени</a>
                <form class="delete-form" style="float:left" object-id="{{ object.id }}" action="{% url urls.delete id=object.id %}" method="delete">
                    {% csrf_token %}
                    <input class="btn btn-info" type="submit" name="delete" value="Изтрий" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% include 'partials/_pagination.html' %}
</div>