{% extends "layout.html" %}

{% block content %}
<table id="all-table" class="table table-bordered table-condensed">
    <tr>
        <th>Име</th>
        <th>Презиме</th>
        <th>Фамилия</th>
        <th>Фирма</th>
        <th>Сезон</th>
    </tr>
    {% for referee in referees %}
        <tr id="{{ referee.id }}">
            <td>{{ referee.first_name }}</td>
            <td>{{ referee.middle_name }}</td>
            <td>{{ referee.last_name }}</td>
            <td>{{ referee.firm|default_if_none:'ТУЕС' }}</td>
            <td>{{ referee.season|default_if_none:'' }}</td>
            <td class="col-md-2">
                <a class="btn btn-info" style="float:left" href="{% url 'edit_referee' id=referee.id %}">Промени</a>
                <form class="delete-form" style="float:left" referee-id="{{ referee.id }}" action="{% url 'delete_referee' id=referee.id %}" method="delete">
                        {% csrf_token %}
                        <input class="btn btn-info" type="submit" name="delete" value="Изтрий" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<a class="btn btn-primary" href="{% url 'create_referee' %}">Създай</a>
<form id="upload_file" action="{% url 'upload_referees' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {{ upload_form }}
    <input class="btn btn-info" type="submit" name="upload" value="Качи" />
</form>
{% endblock %}
{% block scripts %}
    <script>
        var $forms = $('.delete-form');
        $forms.each(function () {
            var $this = $(this),
                $refereeToDelete = $('#' + $this.attr('referee-id'));

            ajaxOvverideDelForm($this, $refereeToDelete);
        });
    </script>
{% endblock%}