django==1.5
south==1.0.2
django-extensions==1.5.0
six==1.9.0
django-admin-bootstrapped==1.6.7
python-social-auth==0.2.2
django-bootstrap-form==3.1
django-datetime-widget==0.9.3
pisa==3.0.33
reportlab==2.7
html5lib==0.999