{% extends "layout.html" %}

{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'content/file-upload.css' %}" />
{% endblock %}

{% block content %}
<table id="all-table" class="table table-bordered table-condensed table-hover">
    <tr>
        <th>Име</th>
        <th>Презиме</th>
        <th>Фамилия</th>
        <th>Фирма</th>
        <th>Сезон</th>
        <th></th>
    </tr>
    {% for mentor in mentors %}
    <tr id="{{ mentor.id }}">
        <td>{{ mentor.teacher.first_name }}</td>
        <td>{{ mentor.teacher.middle_name }}</td>
        <td>{{ mentor.teacher.last_name }}</td>
        <td>{{ mentor.teacher.firm|default_if_none:'' }}</td>
        <td>{{ mentor.season|default_if_none:'' }}</td>
        <td class="col-md-2">
            <a class="btn btn-info" style="float:left; margin-right: 10px;" href="{% url 'edit_mentor' id=mentor.id %}">Промени</a>
            <form class="delete-form" style="float:left" mentor-id="{{ mentor.id }}" action="{% url 'delete_mentor' id=mentor.id %}" method="delete">
                {% csrf_token %}
                <input class="btn btn-info" type="submit" name="delete" value="Изтрий" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-primary" href="{% url 'create_mentor' %}">Създай</a>
<hr />
<form id="upload_file" action="{% url 'preview_mentors' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {% include "file-upload.html" %}
</form>
{% endblock %}
{% block scripts %}
<script>
    var $forms = $('.delete-form');
    $forms.each(function () {
        var $this = $(this),
            $mentorToDelete = $('#' + $this.attr('mentor-id'));

        ajaxOvverideDelForm($this, $mentorToDelete);
    });
</script>
<script src="{% static 'scripts/fileFeedback.js' %}" type="text/javascript"></script>
{% endblock%}