{% extends "layout.html" %}

{% block content %}
<table id="all-table" class="table table-bordered table-condensed">
    <tr>
        <th>Име</th>
        <th>Презиме</th>
        <th>Фамилия</th>
    </tr>
    {% for mentor in mentors %}
        <tr id="{{ mentor.id }}">
            <td>{{ mentor.first_name }}</td>
            <td>{{ mentor.middle_name }}</td>
            <td>{{ mentor.last_name }}</td>
            <td class="col-md-2">
                <a class="btn btn-info" style="float:left" href="{% url 'edit_mentor' id=mentor.id %}">Промени</a>
                <form class="delete-form" style="float:left" mentor-id="{{ mentor.id }}" action="{% url 'delete_mentor' id=mentor.id %}" method="delete">
                        {% csrf_token %}
                        <input class="btn btn-info" type="submit" name="delete" value="Изтрий" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<a class="btn btn-primary" href="{% url 'create_mentor' %}">Създай</a>
{% endblock %}
{% block scripts %}
    <script>
        var $forms = $('.delete-form');
        $forms.each(function () {
            var $this = $(this),
                $mentorToDelete = $('#' + $this.attr('mentor-id'));

            ajaxOvverideDelForm($this, $mentorToDelete);
        });
    </script>
{% endblock%}