{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><div class="navbar-brand">Здравейте, {{ user.username }}!</div></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Излизане</a></li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li>
        {% load staticfiles %}
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><img width="30" height="20" src="{% static 'images/google.png' %}"/></a>
    </li>
    <li><a href="{% url 'login' %}">Влезте</a></li>
</ul>

{% endif %}
