{% load staticfiles %}
<div id="table-replace">
    <table id="all-table" class="table table-bordered table-condensed table-hover">
        <tr>
            <th class="pointer-item">Председател</th>
            <th class="pointer-item">Членове на комисията</th>
            <th class="pointer-item">Ученици</th>
            <th class="pointer-item">Начален час</th>
            <th class="pointer-item">Сезон</th>
            <th class="ignore"></th>
            <th class="ignore"></th>
        </tr>
        {% for object in objects %}
        <tr id="{{ object.id }}">
            <td>
                <a href="{% url 'edit_teacher' object.head_of_comission.id %}">
                    {{ object.head_of_comission|default_if_none:'' }}
                </a>
            </td>
            <td>
                {% if object.members_of_comission.all %}
                {% for member in object.members_of_comission.all %}
                <a href="{% url 'edit_teacher' member.id %}">
                    {{ member }}
                </a>
                <br />
                {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if object.students.all %}
                {% for student in object.students.all %}
                <a href="{% url 'edit_student' student.id %}">
                    {{ student }}
                </a>
                <br />
                {% endfor %}
                {% endif %}
            </td>
            <td>{{ object.start_time|default_if_none:'' }}</td>
            <td>{{ object.season|default_if_none:'' }}</td>
            <td class="col-md-1">
                <a class="btn btn-info" style="float:left; margin-bottom: 10px;"
                   href="{% url urls.edit id=object.id %}">Променете</a>
                <form class="delete-form form-horizontal" style="float:left" object-id="{{ object.id }}"
                      action="{% url urls.delete id=object.id %}" method="delete">
                    {% csrf_token %}
                    <input class="btn btn-info" type="submit" name="delete" value="Изтрийте" />
                </form>
            </td>
            <td class="col-md-1">
                <a class="btn btn-info" style="float:left; margin-bottom: 10px" href="{% url 'comission_with_students_protocol' id=object.id %}">Кратък протокол</a>
                <a class="btn btn-info" style="float:left;" href="{% url 'comission_students_indepth_protocol' id=object.id %}">Подробен протокол</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% include 'partials/_pagination.html' %}
</div>