{% extends "layout.html" %}

{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'content/datetimepicker.css' %}" />
{% endblock %}

{% block content %}
<script src="{% static 'libs/bootstrap-datetimepicker.js'%}"></script>
<div class="row">
    <div class="col-md-4">
        <form method="post" action="">
            {% csrf_token %}
            {% load bootstrap %}

            {{ form|bootstrap }}
            <input class="btn btn-info" type="submit" value="Промени" />
        </form>
    </div>
</div>
{% endblock %}