{% extends "layout.html" %}

{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'content/file-upload.css' %}" />
{% endblock %}

{% block content %}
{% include table_template %}
<a class="btn btn-primary" href="{% url urls.create %}">Създай</a>
<hr />
{% if urls.preview %}
<form id="upload_file" action="{% url urls.preview %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {% include "file-upload.html" %}
</form>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    var $form = $('.delete-form');
    $form.each(function () {
        var $this = $(this),
            $objectToDelete = $('#' + $this.attr('object-id'));

        ajaxOvverideDelForm($this, $objectToDelete);
    });
</script>
<script src="{% static 'scripts/fileFeedback.js' %}" type="text/javascript"></script>
{% endblock %}