{% extends "layout.html" %}

{% load staticfiles %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'content/file-upload.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'content/table.css' %}" />
{% endblock %}

{% block content %}
{% include table_template %}
<a id="create-link" class="btn btn-primary" href="{% url urls.create %}">Създай</a>
{% if urls.preview %}
<hr />
<form id="upload_file" action="{% url urls.preview %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    {% include "partials/_file-upload.html" %}
</form>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'libs/jquery.sort.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/table.js' %}"></script>
<script src="{% static 'scripts/fileFeedback.js' %}" type="text/javascript"></script>
{% endblock %}