{% extends "layout.html" %}

{% block content %}
<table class="table table-hover">
    <tr>
        <th>Име</th>
        <th>Презиме</th>
        <th>Фамилия</th>
        <th>Клас</th>
        <th>Профил</th>
        <th>Тема</th>
        <th>Ръководител</th>
        <th>Оценка</th>
    </tr>
    {% for student in students %}
        <tr id="{{ student.id }}">
            <td>{{ student.first_name }}</td>
            <td>{{ student.middle_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.class_letter }}</td>
            <td>{{ student.specialization }}</td>
            <td>{{ student.topic }}</td>
            <td>{{ student.mentor }}</td>
            <td>{{ student.grade }}</td>
            <td>
                <a class="btn btn-info" style="float:left" href="{% url 'edit_student' id=student.id %}">Промени</a>
                <form class="delete-form form-horizontal" style="float:left" topic-id="{{ topic.id }}" action="{% url 'delete_student' id=student.id %}" method="delete">
                    {% csrf_token %}
                    <input class="btn btn-info" type="submit" name="delete" value="Изтрий" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
{% block scripts %}
    <script>
        var $forms = $('.delete-form');
        $forms.each(function () {
            var $this = $(this),
                $topicToDelete = $('#' + $this.attr('topic-id'));

            ajaxOvverideForm($this, $topicToDelete);
        });
</script>
{% endblock%}