{% extends "layout.html" %}

{% block content %}
<table id="all-table" class="table table-bordered table-condensed">
    <tr>
        <th>Паралелка</th>
        <th></th>
    </tr>
    {% for class_letter in class_letters %}
        <tr id="{{ class_letter.id }}">
            <td>{{ class_letter.letter }}</td>
            <td class="col-md-2">
                <a class="btn btn-info" style="float:left; margin-right: 10px;" href="{% url 'edit_class_letter' id=class_letter.id %}">Промени</a>
                <form class="delete-form" style="float:left" class_letter-id="{{ class_letter.id }}" action="{% url 'delete_class_letter' id=class_letter.id %}" method="delete">
                        {% csrf_token %}
                        <input class="btn btn-info" type="submit" name="delete" value="Изтрий" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<a class="btn btn-primary" href="{% url 'create_class_letter' %}">Създай</a>
<hr />
{% endblock %}
{% block scripts %}
    <script>
        var $forms = $('.delete-form');
        $forms.each(function () {
            var $this = $(this),
                $classLetterToDelete = $('#' + $this.attr('class_letter-id'));

            ajaxOvverideDelForm($this, $classLetterToDelete);
        });
    </script>
{% endblock%}