{% extends "layout.html" %}

{% block content %}
<table id="all-table" class="table table-bordered table-condensed table-hover">
    <tr>
        <th>Файл</th>
        <th>Рецензент</th>
        <th></th>
    </tr>
    {% for referal in referals %}
    <tr id="{{ referal.id }}">
        <td>{{ referal.file }}</td>
        <td>{{ referal.referee }}</td>
        <td class="col-md-2">
            <a class="btn btn-info" style="float:left; margin-right: 10px;" href="{% url 'edit_referal' id=referal.id %}">Промени</a>
            <form class="delete-form" style="float:left" referal-id="{{ referal.id }}" action="{% url 'delete_referal' id=referal.id %}" method="delete">
                {% csrf_token %}
                <input class="btn btn-info" type="submit" name="delete" value="Изтрий" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-primary" href="{% url 'create_referal' %}">Създай</a>
<hr />
{% endblock %}
{% block scripts %}
    <script>
        var $forms = $('.delete-form');
        $forms.each(function () {
            var $this = $(this),
                $referalToDelete = $('#' + $this.attr('referal-id'));

            ajaxOvverideDelForm($this, $referalToDelete);
        });
    </script>
{% endblock%}